

    <%- include('./partials/_header') -%>
    <%- include('./partials/_add_btn') -%>
    <div class="container">
        <h6>Dashboard</h6>
        <h3>Welcome <%= name %></h3>
        <p>Here you can see your stories</p>

        <% if (stories.length > 0){ %>
            
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>status</th>
                        <th></th>
                    </tr>
                        
                </thead>
                <tbody>
                    <% stories.forEach((story, index) => { %>
                        <tr>
                            <td><a href="/stories/<%= story._id %>"><%= story.title %></a></td>
                            <td><%= formatDate(story.createAt) %></td>
                            <td><%= story.status %></td>
                            <td>
                                <a href="/stories/<%= story._id %>/edit" class="btn btn-float">
                                    <i class="fas fa-edit"></i>
                                </a>
                
                                <form action="/stories/<%= story._id %>" method="POST" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn red">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <%})%>
                <tbody>

                </table>
            
        <%}else{%>
            <p>You don't have stories yet</p>
        <%}%>
        
    </div>

    <%- include('./partials/_footer') -%>

 
