

    <%- include('./partials/_header') -%>
    <%- include('./partials/_add_btn') -%>
    <div class="container">
        <h6>Dashboard</h6>
        <h3>Welcome <%= name %></h3>
        <p>Here you can see your stories</p>

        <% if (stories.length > 0){ %>
            <% stories.forEach((story, index) => { %>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>status</th>
                            <th></th>
                        </tr>
                        
                    </thead>
                        <tr>
                            <td><a href="/stories/<%= _id %>"><%= title %></a></td>
                            <td><%= createdAt %></td>
                            <td><span class="dash-span">%= status %></span></td>
                            <td></td>
                        </tr>
                    <tbody>

                    </tbody>
                </table>
            <%})%>
        <%}else{%>
            <p>You don't have stories yet</p>
        <%}%>
        
    </div>

    <%- include('./partials/_footer') -%>

 
